@mixin takeUpSpace($number) {
  height: $number vh;
  width: $number vw;
}

@mixin flexStyle() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin flexColumCenterStyle() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
