/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins';

.banner {
  display: flex;
  font-family: $main-font;
  background-color: black;
  color: white;
  height: 200px;
  justify-content: space-between;
}

.overlook-title {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  font-size: 75px;
  margin-top: 25px;
  margin-left: 25px;
  padding: 0px;
  border: 5px yellow;
}

.user-welcome {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-top: 120px;
  margin-right: 25px;
}

.welcome {
  margin-bottom: 0px;
}

.total-spent {
  margin-top: 10px;
}

body {
  background: white;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: center;
  height: 100%;
}

  button,
  .button {
    font-family: $main-font;
    background-color: black;
    border: none;
    color: white;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: $border-radius;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }


main {
  height: 800px;
}

.home-container {
  border: 3px solid red;
  height: 100%;
  width: 100%;
}


.hidden {
  display: none !important;;
}

.booking-container {
  //border: solid green 5px;
  display: flex;
  @include takeUpSpace();

}

.booking-selection {
  display: flex;
  flex-direction: column;
  border: solid black 5px;
  border-radius: $border-radius;
  width: 20%;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 400px
}

label {
  margin-top: 15px;
}

.available-rooms-container {
  //border: solid brown 5px;
  width: 80%;
}

.preferences {
text-align: center;
margin-bottom: 20px;
}

.past-container {
  border: solid pink 5px;
  @include takeUpSpace();
  @include flexStyle();
}

.current-container {
  border: solid orange 5px;
  @include takeUpSpace();
  @include flexStyle();
}

.card-image-past, 
.card-image-current,
.card-image-future,
.card-image { 
  margin-top: 10px;
  height: 50%;
  width: 85%;
}


.future-container {
  border: solid yellow 5px;
  @include takeUpSpace();
  @include flexStyle();
}


.booking-card,
.booking-card-new {
  height: 520px;
  width: 300px;
  border: black solid 3px;
  margin: 20px;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.booking-card-new {
  height: 600px;
}

.submit {
  margin-top: 25px;
}

// .no-rooms-img {
//   margin-top: 20px;
//   height: 250px;
//   width: 250px;
// }

.no-rooms {
  font-size: 100px;
  display: flex;
  background-image: url("../images/sad.png");
  background-position-x: 60px;
  background-repeat: no-repeat;
  justify-content: flex-end;
}

.no-room-text {
  text-align: right;
  margin-right: 150px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

