@import '_variables';
@import '_mixins';

html {
  height: 100vh;
  width: 100vw;
}

.login-labels {
  display: flex;
}

.login-page {
  background-color: $secondary-color;
  height: 100vh;
  width: 100vw;
  @include flexColumCenterStyle();
  align-items: center;
}

.login-title {
  color: $primary-color;
  font-family: $main-font;
  font-size: 60px;
}

.error {
  color: red;
}

.login {
  background-color: $primary-color;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

.banner {
  display: flex;
  font-family: $main-font;
  background-color: $secondary-color;
  color: $primary-color;
  height: 200px;
  justify-content: space-between;
}

.overlook-title {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  font-size: 75px;
  margin-top: 25px;
  margin-left: 25px;
  padding: 0px;
}

.user-welcome {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-top: 120px;
  margin-right: 25px;
  margin-bottom: 0px;
}

body {
  background: $primary-color;
  margin: 0px;
  @include takeUpSpace(100%);
}

nav {
  display: flex;
  justify-content: center;
  height: 100%;
}

  button {
    font-family: $main-font;
    background-color: black;
    border: none;
    color: white;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: $border-radius;
    box-shadow: $shadow;
  }

.home-container {
  @include takeUpSpace(100%);
  @include flexColumCenterStyle();
  align-items: center;
}

.home-title {
  font-size: 100px;
  color: $secondary-color;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.overlook-image {
  align-items: center;
  @include takeUpSpace(80%)
}

.hidden {
  display: none !important;;
}

.booking-container {
 display: flex;
@include takeUpSpace(100%);
}

.available-rooms-container {
  @include takeUpSpace(100%);
  @include flexStyle();
  height: 100vh;
}

.booking-selection {
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  border-radius: $border-radius;
  width: 20%;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 400px
}

label {
  margin-top: 15px;
}

.preferences {
text-align: center;
margin-bottom: 20px;
}

.past-container,
.current-container,
.future-container {
  @include takeUpSpace(100%);
  @include flexStyle();
}

.card-image-current { 
  margin-top: 10px;
  height: 50%;
  width: 85%;
}

.booking-card,
.booking-card-new {
  height: 520px;
  width: 300px;
  border: black solid 3px;
  margin: 20px;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.booking-card-new {
  height: 600px;
}

.submit {
  margin-top: 25px;
}

.no-rooms {
  font-size: 100px;
  display: flex;
  background-image: url("../images/sad.png");
  background-position-x: 60px;
  background-repeat: no-repeat;
  justify-content: flex-end;
}

.no-room-text {
  margin-top: 25px;
  text-align: right;
  margin-right: 65px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.no-rooms-preferences {
  font-size: 100px;
  display: flex;
  background-position-x: 60px;
  background-repeat: no-repeat;
  justify-content: flex-end;
}